.signup-header {
  width: 98%;
  height: 80px;
  margin: auto;
  border: 2px solid #faa860;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.signup-header-logo {
  width: 160px;
  margin: 0px auto;
}

.signup-main-bar {
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  border: 3px solid #faa860;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.sign-up-container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.sign-up-main-title {
  font-size: 40px;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 10px;
}
.sign-up-division-line {
  margin: 0px auto;
}
.idnickname-container {
  display: flex;
}
.id-input-wrap {
  display: inline;
  margin: 10px auto;
  margin-bottom: 20px;
}
.id-input-text-wrap {
  display: flex;
}
.id-input {
  border: 3px solid #faa860;
  margin: 0px auto;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  outline: none;
}
.nickname-input-wrap {
  display: inline;
  margin: 10px auto;
  margin-bottom: 20px;
}
.nickname-input {
  border: 3px solid #faa860;
  margin: 0px auto;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  outline: none;
}
.nickname-input-text-wrap {
  display: flex;
}
.nickname-double-check-btn {
  width: 50px;
  height: auto;
  border-radius: 5px;
  border: 3px solid #faa860;
  outline: #faa860;
  background-color: white;
  font-size: 6px;
  box-sizing: content-box;
  margin-left: auto;
}
.nickname-double-check-btn:active {
  background-color: #faa860;
  color: white;
}
.email-container {
  padding: 21px;
  padding-top: 0px;
}
.e-mail-input {
  width: 98.5%;
  height: 35px;
  border-radius: 5px;
  border: 3px solid #faa860;
  outline: none;
  margin: auto;
}
.password-container {
  padding: 21px;
  padding-top: 0px;
}
.password-input {
  width: 98.5%;
  height: 35px;
  border-radius: 5px;
  border: 3px solid #faa860;
  outline: none;
  margin: auto;
}

.checkpassword-container {
  padding: 21px;
  padding-top: 0px;
}
.checkpassword-input {
  width: 98.5%;
  height: 35px;
  border-radius: 5px;
  border: 3px solid #faa860;
  outline: none;
  margin: auto;
}
.agreebtn-wrap {
  display: inline-block;
}
.agree-wrap {
  display: inline-block;
  margin-left: 21px;
  margin-right: 21px;
  width: 92%;
}
.first-agree-wrap {
  display: flex;
}
.second-agree-wrap {
  display: flex;
}
.sign-up-btn {
  width: 95%;
  margin: 30px 20px;
  height: 60px;
  border-radius: 5px;
  border: 3px solid #faa860;
  outline: none;
  background-color: white;
}

.sign-up-btn:active {
  background-color: #faa860;
}
.sign-up-btn-text {
  font-size: 30px;
}
.sign-up-btn-text:active {
  color: white;
}
